<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/hughknaus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="hughknaus" />
            <add key="ClearTextPassword" value="9bb01dd6efe5782e4e1c96d10addd476c83a4b4a" />
        </github>
    </packageSourceCredentials>
</configuration>