<?xml version="1.0" encoding="utf-8"?>
<!-- REPLACE:
  OWNER = Github username
  USERNAME = Github username
  TOKEN = Personal access token
BUT DO NOT CHECK THE REAL VALUES INTO THE REPO!!

RUN:
C:\_projects\NatsNlogExample\NatsNlogTargets>dotnet pack \-\-configuration Release

C:\_projects\NatsNlogExample\NatsNlogTargets>dotnet nuget push "bin/Release/nats-nlog-target.1.0.0.nupkg" -k TOKEN \-\-source "github"
-->
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>