<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/hughknaus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="hughknaus" />
            <add key="ClearTextPassword" value="41a4c2ed2a9838226755e146716a50ab5c9d2485" />
        </github>
    </packageSourceCredentials>
</configuration>
