<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogLevel="Trace"
		internalLogFile="/logs/NLogNATSExample-internal.log"
		throwExceptions="true">

	<extensions>
		<add assembly="NatsNlogTargets"/>
	</extensions>

	<variable name="logDir" value="/logs"/>
	<variable name="serviceName" value="NatsNlogExample"/>
	<variable name="fileName" value="${var:name=serviceName}.${machinename}.${var:name:tenantName}.log"/>
	<variable name="tenantName" value="DEV"/>

	<targets>
		<target name="fileTarget" xsi:type="File"
				fileName="${var:name=logDir}\${var:name=fileName}"
				archiveFileName="${var:name=logDir}\${var:name=fileName}.{#}"
				archiveNumbering="Rolling"
				archiveAboveSize="1500000"
				header="DATETIME&#009;THREAD&#009;MACHINE&#009;TYPE&#009;SERVICE&#009;MESSAGE&#009;">
			
			<layout type="CSVLayout" delimiter="Tab" quoting="Nothing">
				<column name="DATETIME" layout="${longdate:universalTime=false}" />
				<column name="THREAD" layout="[${threadid}]" />
				<column name="MACHINE" layout="${machinename}" />
				<column name="LEVEL" layout="${level:uppercase=true}" />
				<column name="MESSAGE" layout="${logger} - ${replace-newlines:replacement=&#x0D;&#x0A;:${message}} ${exception:format=tostring} ${all-event-properties}" />
			</layout>
			
		</target>
		<target xsi:type="Console" 
						name="consoleTarget" 
						layout="${longdate:universalTime=false} [${threadid}] ${level:uppercase=true} ${logger}-${message} ${exception} ${all-event-properties}" />

		<!--xsi:type="NatsTarget"-->
		<!--xsi:type="NatsAsyncTarget"-->
		<!-- For use without Docker and in FaultTolerant setup-->
		<target xsi:type ="NatsAsyncTarget"
						name="natsTarget"
						topic="My Test Topic"
						threadid="${threadid}"
						machinename="${machinename}"
						tenantname="${tenantName}"
						layout="${message}" />

		<!-- For use without Docker and in Cluster setup-->
		<!--<target xsi:type ="NatsAsyncTarget"
						name="natsTarget"
						natsurl="nats://localhost:4221,nats://localhost:4222,nats://localhost:4223"
						natsclusterid="test-cluster"
						natsclientid="test-client"
						natsconnectiontimeout="10000"
						natspubackwait="5000"
						topic="My Test Topic"
						threadid="${threadid}"
						machinename="${machinename}"
						tenantname="${tenantName}"
						layout="${message}" />-->

		<!-- For use with Docker Swarm -->
		<!--<target xsi:type ="NatsAsyncTarget"
				name="natsTarget"
				natsurl="nats://nats-cluster-node-A:4222,nats://nats-cluster-node-B:4222,nats://nats-cluster-node-C:4222"
				natsclusterid="test-cluster"
				natsclientid="test-client"
				natsconnectiontimeout="10000"
				natspubackwait="5000"
				topic="My Test Topic"
				threadid="${threadid}"
				machinename="${machinename}"
				tenantname="${tenantName}"
				layout="${message}" />-->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
		<logger name="*" minlevel="Debug" writeTo="natsTarget" />
	</rules>
</nlog>